braceexpand
einops
fvcore
huggingface_hub
hydra-colorlog
hydra-core
hydra-submitit-launcher
jsonlines
loguru
numpy
omegaconf
opencv-python-headless
optree
pillow
pyglet<2
pyrender
pytorch-lightning
roma
scikit-image
timm
torch
torchvision
trimesh
yacs
git+https://github.com/microsoft/MoGe.git@07444410f1e33f402353b99d6ccd26bd31e469e8
